.todo-input-wrapper {
  display: flex;
  border-radius: 4px;
  background-color: #40c9a2;
}
.todo-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin: 3px;
  font-family: "Indie Flower", cursive;
  font-size: 24px;
  flex: 1;
}
.todo-button {
  border: none;
  border-radius: 3px;
  padding: 0 30px;
  color: #000;
  background-color: #40c9a2;
  font-size: 36px;
}
